@import '../../Sass/variables';

.search-box{
    position: relative;
    width: 100%;
    font-size: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 15px 0;
    
    // border: 10px solid red;
   
   
    &__input{
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        padding: 5px 3rem;
        font-family: inherit;
        font-size: inherit;
        background-color: inherit;
        width: 90%;
        height: 40px;
        background-color: $background-grey;
        text-align: center;
        color: #999;
      
        &:focus ::placeholder {
            visibility: hidden;
          }

          &:focus {
            color: #262626;
            text-align: left;
            outline: none;
            border: 1px solid #999;
          }
    }
    &__placeholder{
        position: absolute;
        left: 10%;
        // border: 3px solid pink;
    }

  }
  .search__list{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
      border-radius: 50%;
    }
    div{
      margin: 0px 10px;
      h6{
        font-weight: 200;
      }
    }
  }