.post-page{
    width: 100%;
    height: 100vh;
    position: relative;
}

// mobile header 
.mobile_header{
    display: none;
    position: relative;
    width: 100%;
    height: 7vh;
    border-bottom:  1px solid #999;
    
    h4{
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 15px;
        font-weight: 700;
    }
    button{
        position: absolute;
        top: 10px;
        left: 20px;
        border: 0;
        outline: 0;
        background: transparent;
    }

   
}
// mobile post header
.mobile_post_header{
    display: none;
    width: 100%;
    background: #fff;
   
}
// @the wrapper
.main {
    background: #efefef;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// @the post image
.image-wrapper{
   
    width: 45%;
    height: 600px;
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// @ poster detail  container
.post_details{
    background: #fff;
    width: 35%;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
}
.poster{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid hsl(0, 0%, 94%)
}
.left{
    flex-direction: row;
    align-items: center;
    display: flex;
    flex: 3;
   
    img{
        width: 35px;
        height: 40px;
        border-radius: 50%;
     
      
    }
    small{
        display: block;
        
    }
}
.right{
margin: 0 10px;
flex: 0.5;
cursor: pointer;
}

// @ comment section
.comment-section{ 
    width: 100%;
    height: 400px;
    border-bottom:  1px solid hsl(0, 0%, 94%);
    // overflow-x: scroll;  
    
}
.poster_container{
    width: 100%;
    // height: 70px;
};
.comment-section_poster{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 0;
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    .comment_name{
        font-weight: 400;
    }
    .comment_text{
        font-weight: 200;
         color:  #999;
    }
 .comment_name, .comment_text{
     font-size: smaller;
     margin: 0 5px;
 }
  
}
.comment_date{
    font-size: small;
    color:  #999;
    display:inline-block;

}    
//  end of comment section style 

//  icons 

.icons{
    height: 90px;
    width: 100%;
    padding: 10px 10px;
    border-bottom:  1px solid hsl(0, 0%, 94%);
    .icon_section{
        width: 100%;
        &_icon{
            margin: 0 3px;
        }
    }
    p{   
        text-align: left;
    }
    .post_date{   
       color:  #999;
       font-size: smaller;
    }
}


// @ new  comment post form 
.new_post_comment{
    width: 100%;
    height: 60px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 0px;
    
    form{
        width: inherit;
        height: inherit;
        display: flex;
        background: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;   

        input{
            padding: 0 10px;
            width: 90%;
        }
        .post-btn{
            color: #0095f6;
            border: 0;
            outline: 0;
            cursor: pointer;
            background: transparent;
            margin: 0 10px;
        }
    }
}

// media queries
@media screen and (max-width: 600px){
    .header{
        display: none;
    }
    .comment-section{
        display: none;
    }
    .mobile_comment-section{
        width: 100%;
        overflow-y: auto;
        height: 100vh;
       
        &::-webkit-scrollbar {
            display: none;
          } 
       
        .poster_container{
            width: 100%;
            // height: 70px;
        };
        .comment-section_poster{
            display: flex;
            padding: 1.5rem;
            align-items: flex-start;
            overflow-wrap: anywhere;
            white-space: pre-wrap;
            &:nth-child(1) {
                padding: 2rem 1.5rem 1rem 1.5rem;
              }
              & > :not(:last-child) {
                margin-right: 1rem;
              }
            
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
            .comment_name{
                font-weight: 400;
            }
            .comment_text{
                font-weight: 200;
                 color:  #999;
                 white-space: inherit;
            }
         .comment_name, .comment_text{
             font-size: smaller;
            //  margin: 0 5px;
         }
          
        }
        .comment_date{
            font-size: small;
            color:  #999;
            display:inline-block;
        
        }    
    }
    .image-wrapper{
        width: 100%;
        height: 400px;
    }
    .mobile_header{
        display: block;
       
    }
    .mobile_post_header{
        display: block;
        .poster{ 
        width: 100%;
         display: flex;
         align-items: center;
         justify-content: unset;
         img{
            width: 35px;
            height: 40px;
            border-radius: 50%;
         }
         .right{
             width: 100%;
             height: 100%;
             flex: 1;
             display: flex;
             align-items: center;
             justify-content: space-between;
         }

        }  
    }
    .post_details{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .icons{

        .icon_section{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: unset;
        }
        .like_count{
            font-size: 14px;
        }

    }
    .post_details .poster{
        display: none;
    }
    .main{
        flex-direction: column;
    }
}
