@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './Sass/variables';

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $background-white;
  font-family: $font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  // min-width: fit-content;
  height: 100vh;
  width: 100vw;

  
}

.App{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
 
}
.options__modal__container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height: fit-content;
  background: #FFFFFF;
  border-radius: 10px;
  li{
    text-align: center;
    width: 100%;
    padding: 15px;
    line-height: 3px;
    font-stretch: condensed;
    cursor: pointer;  
  }
}

