.post__commentBox{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}
.post__input{
    border-bottom-width: 1px;
    border-bottom-color: red;
}
.post__button{
    background-color: seagreen;
    border: none;
    width: 70px;
    height: 50px;
    padding: 10;
    color: orange;
    border-radius: 15px;
}