@import "../../Sass/variables";

.commentContainer {
  display: flex;
  padding-left: 1.5em;
  align-items: center;
  font-size: 0.75em;
  margin-bottom: 0.4em;
  
  width: 100%;
  
  
  .deletebtn{
    // align-self: flex-end;
   
    display: block;
    margin-right: 0.3em;
    cursor: pointer;
    margin-left: auto
  }

  .accountName {
    font-weight: 600;
  }

  .comment {
    margin-left: 0.5em;
  }
  .profile-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin-right: 0.5em;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
.comment-time{
  max-width: 3em;
  font-size: smaller;
  color: $font-color-footer;
  margin-top: 0.1em;
  height: 20px;
  max-width: 100px;
  
}
