@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.logo{
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    line-height: 12.53px;
 
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 411px;
    height: 600px;
    background-color: #E5E5E5;
  
}
.email-container, .password-container{
    height: 48px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: 0;
    background-color: #F2F5FA;
    border: none;
    padding: 0 10px; 
    margin: 16px 0;
   

}
input{
    border: none;
    outline: none;
    flex: 1;
    
    background: inherit;
}

.react-icons{
    vertical-align: middle;
}
.submit-btn{
    border: 0;
    outline: 0;
    height: 46px;
    color: #ffffff;
    width: 300px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #59A1FF 19.89%, #3D67F2 100%);

   
}
.password-reset-link{
    color: blue;
    text-decoration: none;
    font-weight: 300;

}

@media screen and (min-width: 320px) and (max-width: 600px){
    .login-form{
        width: 300px;
        min-width: 300px;
        max-width: 400px;

    }
    .email-container, .password-container{
        width: 250px;
        
    }
    .submit-btn{
        width: 250px;
    }
}