@import '../../Sass/variables';


.profilepage__wrapper{
    width: 100vw;
    height: 100vh;
    overflow-y : auto;
    background-color: $background-grey;


    header{
       
        width: 100%;
        margin-top: 7vh;
    }

    .header__content{
       
        width: 100%;
        display: flex;
        // justify-content: space-between;

        .profile__image{
            width: 50px;
            height: 50px;
            margin: 0 10px;
               
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .profile__details{
         
            // width: fit-content;
            flex: 2,
        }

        .username{
           
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            h2{
                margin: 0 10px;
            }
            // edit profile button style 
            .editprofile__btn{
                width: 120px;
                height:30px;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                outline: 0;
                border: 0;
                padding: 10px 0px;

                &:focus{
                    outline: 0;
                    border: 0;
                }
            }
            // settings button
            .settings_btn{
                margin-left: 10px;
                border: none;
                outline: none;
                // background-color: #FFFF;
                cursor: pointer;
                &:focus{
                    outline : 0;
                }
            }
        }

        .follow__details{
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px;
            small{
                margin: 0 10px;
                cursor: pointer;
            }
        }
        .name{
            text-align: center;
        }

    }
    .posts__section{
        border-top: 1px solid $border-color-grey;
        border-bottom: 1px solid $border-color-grey;
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .posts__gallery{
        width: 100%;
        display: grid;
        grid-column: center-start / center-end;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        
    }

   
    
}
.settings__options{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 10px;
li{
text-align: center;
width: 100%;
padding: 20px;
line-height: 3px;
font-stretch: condensed;
cursor: pointer;
text-align: center;

}
}

.followers__modal__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    background: #FFFFFF;
    border-radius: 10px;

    li{
        // display: flex;
        // align-items: center;
        width: 100%;
        padding: 15px;
        line-height: 3px;
        font-stretch: condensed; 
    }
}
@media screen  and (min-width: 641px){
    .profilepage__wrapper{
        
        .header{
            margin-top: 80px;
        }

        .header__content{
            height: fit-content;
            align-items: center;
            justify-content: center;
            padding: 15px 0px;

            .profile__image{
                margin: 0px 40px;
                width: 80px;
                height: 80px;
            }
            .profile__details{
                flex: unset;
            }
        }
        .posts__gallery{
          
            
            grid-gap: 10px;
            align-items: center;
            justify-content: center;
            height: 100%;
            grid-template-columns: repeat(3, 300px);
        }
    }

}