.file__input{
    display: none;
}
form{
    height: 23.4px;
    width: 23.4px;
    background: transparent;
}
label{
    cursor: pointer;
    height: 23.4px;
    width: 23.4px;
 
    margin-right: 1.5em;
}
.icon{
    width: 23px;
    height: 23px;
}