@import '../../Sass/variables';

.sideBar{
  width:  350px;
  padding: 7em 2em 0 2em;
}
.profile {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 0.85em;
  
    .text-container {
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      min-width: 180px;
  
      .username{
        font-weight: 500;
        margin-bottom: 5px;
  
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
  
      .name{
        color: $font-color-secondary;
        font-size: 0.8em;
        &.small {
          font-size: 0.8em;
        }
      }
    }
  
    a {
      text-align: right;
      width: 100%;
    }
  }
  .footer__section{
    margin-top:auto;
  }
@media  screen and (max-width: 960px) {
    .sideBar {
      display: none;
    }
  }
  