.container{
    width: 100%;
    position: relative;
    height: 100%;
    position: relative;
}
.searchBox-wrapper_mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    height: 6.5vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    @media screen and (max-width: 640px){
        display: block;
    }
}
.image-grid{
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    
  
  & > *:nth-child(18n + 2) {
    grid-column: 2 / -1;
    grid-row: span 2;
  }

  & > *:nth-child(18n + 10) {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }
}

.menuTab-Wrapper{
   display: none;
}


@media screen and (max-width: 600px){
    .image-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.3px;
        padding: 0px ;
   
    }
    .menuTab-Wrapper{
        display: block;
    }
    .header-section{
        display: none;
    }
}
@media screen and (min-width: 7680x){
    .header-section{
        display: block;
    }
}

 
    
   
  
// }
// // @media screen and (min-width:)
// @media screen and (min-width: 768px){
//     .post-container:nth-child(3n + 0){
//         // border : 3px solid red;
//         // grid-column: 2 / span 2;
//         // grid-row: 1/span 2;
//         // grid-column: 1 / -1;
//         grid-row: 1/span 3;
//     }
  
// }