@import '../../Sass/variables';

.Edit__profile__form__wrapper{

    // min-height: 100%;
    width: 100vw;
    // height: 100%;
    // padding: 0px !important;
   
    .Edit_profile_form{ 
        width: 100%;
        height: 100%;
        & > :not(:last-child) {
            margin-bottom: 2rem;
        }
        .label__wraper, .profile__header{
            display: grid;
            grid-template-columns: 3rem 1fr;
            grid-column-gap: 3rem;
            align-items: center;
        }
        .profile__header{
             img{
            width: 60px;
            height: 60px;object-fit: cover;
            border-radius: 50%;
        }
        }
        .label__wraper{

            & > :first-child {
                justify-self: right;
                text-align: right;
              }
              input{
                border-radius: 3px;
                padding: 0.4em;
                font-family: inherit;
                font-size: 1.2rem;
                color: black;
                border: 1px solid #dbdbdb;
                background-color:#dbdbdb;
                font-weight: 90;
                position: relative;
                &:focus{
                outline: 0;
        
            }
            
            
            
        }
          button{
            align-self: right;
            margin-right: auto;
            width: 10rem;
            height: 2rem;
            background-color: $link-color-secondary;
            color: #FFFFFF;
            border: none;
            border-radius: 5px;
            letter-spacing: 0.2em;
            &:focus{
            outline: 0;
            }
        }
       
     
    }
  
    .change__photo__link{
        color: $link-color;
        font-size: smaller;
    }
  
    
    @media screen and (max-width: 640px){
        padding: 0px 2rem;
        width: 100vw !important;
        .group__wrapper{
            display: block;
            grid-column-gap: 0;
            grid-template-columns: 2rem 1fr;
            &:nth-child(1) {
                display: flex;
                & > :not(:last-child) {
                  margin-right: 1.5rem;
                }
              }
        }
    }
}    
} 