@import '../../Sass/variables';


.cards{
    width: 600px;
}
.feed__bottom{
    text-align: center;
    padding: 2rem;
    &::after {
        content: '';
        
        height: 30px;
        display: block;
      }
  
    h2{
     
        margin-top: 0px;
    }
    
}
@media screen and (max-width: 640px){
    .cards{
        width: 100%;
        &:nth-child(1){
            margin-top: 25px;
        }
    }
}
@media screen and (min-width: 768px){
    .cards{
        margin-top: 0.7em;
    }
}