@import '../../Sass/variables';


.cards{
    width: 600px;
    height: 100%;
    scroll-behavior: smooth;
    // display: flex;
    // flex-direction: column;
    // height: fit-content;
  
    
//    background: $background-grey;
    .feed__bottom{
        text-align: center;
        padding: 2rem;
        &::after {
            content: '';
            
            height: 30px;
            display: block;
          }
      
        h2{
            margin-top: 0px;
        }
        
    }

    .load__more__btn__wrapper{
        // border: 1px solid red;
        height: 70px;
        width:  100%;
        display: grid;
        position: relative;
        place-items: center;
        @media screen and (max-width: 640px){
            margin-bottom: 40px;
        }

    }
    .load__more__btn{
        // visibility: hidden;
        background: transparent;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        outline: none;
       position: absolute;
       top: -20px;
        width: 120px;
        margin-bottom:  auto;
        color: $link-color;
        &:focus{
            outline: 0;
        }
        @media screen and (max-width:640px){
            margin-bottom: 2.6rem;
            
        }
    } 
}
@media screen and (max-width: 640px){
    .cards{
        width: 100%;
        &:nth-child(1){
            margin-top: 25px;
        }
        &:last-child{
           margin-bottom: 25px; 
        }

       
    }
}
@media screen and (min-width: 768px){
    .cards{
        margin-top: 0.7rem;
    }
}