@import '../../Sass/variables';

.follow_btn{
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    background-color: $link-color;
    position: relative;
    text-align: center;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    &:focus{
        outline: 0;
    }

}
.Unfollow_btn{
    width: 120px;
    height: 30px;
    color: black;
    text-transform: capitalize;
    background-color: $background-grey;
    border: 1px solid $font-color-primary;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
    &:active{
        outline: 0;
    }
}