
.footer-wrapper{
    margin: 0 auto;
    width: 70%;
    height: 7vh;
    background: #fff;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
}
       
        .home,
         .search, 
         .newPost, 
         .notification,
          .profile{
            background: #fff;
   
             cursor: pointer;
        }
       
        .profile{
           
        }