@import '../../Sass/variables';

.change__password__form__container {

    // min-height: 100%;
    width: 100vw;
    height: 100%;
    padding: 0px !important;
    overflow: hidden;
   
    .newPassword__form{ 
        width: 100%;
        height: 100%;
        & > :not(:last-child) {
            margin-bottom: 2rem;
        }
        .group__wrapper, .profile__header{
            display: grid;
            grid-template-columns: 3rem 1fr;
            grid-column-gap: 3rem;
            align-items: center;
        }
        .profile__header{
             img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }
        }
        .group__wrapper{

            & > :first-child {
                justify-self: right;
                text-align: right;
              }
              input{
                border-radius: 3px;
                padding: 0 0.4em;
                font-family: inherit;
            //     font-size: 1.2rem;
                color: black;
                border: 1px solid #dbdbdb;
                background-color:#dbdbdb;
                font-weight: 90;
            //     position: relative;
                &:focus{
                outline: 0;
                    }

                    @media screen and (min-width: 610px){
                            font-size: 1.2rem;
                            padding: 0.5em;
                            width: 400px !important;
                    }
        
            }
            
            
            
        }
             
        button{
       
          background-color: $link-color-secondary;
          color: #FFFFFF;
          border: none;
          border-radius: 5px;
          letter-spacing: 0.2em;
          &:focus{
          outline: 0;
          }
          @media screen and (min-width: 610px){
            // font-size: 1.2rem;
            // padding: 1em;
            padding: 4px 0px;
            width: 400px !important;
    }
      }
  

      
     
    }
  
    .change__photo__link{
        color: $link-color;
        font-size: smaller;
    }
  
    @media screen and (max-width: 600px){
        padding: 0px 50px; 
       
        .profile__header{

            width: fit-content;
            margin: 3px auto;
         }
        .group__wrapper{
            display: flex;
            height: 50px;
            padding: 0px 3rem;
            width: 98%;
            grid-column-gap: 0;
            grid-template-columns: 2rem 1fr;
            input{
                height: 40px;
            }
            &:nth-child(1) {
                display: flex;
                & > :not(:last-child) {
                  margin-right: 1.5rem;
                }
              }
      
        }
      


    }

    

}    
