@import '../../../Sass/variables';


.modal__wrapper{
    width: 100vw;
    height: 100%;
   
}

.newPostModal{
    width: 400px;
    min-height: 500px;
    @media screen and (max-width: 320px){
        width: 280px;
        
    }

}
.caption__box{
     width: 100%;
     margin: 10px 0px;
     border-bottom:  1px solid $border-color-grey;
     padding: 10px;

    //  &:focus{
    //     //  border: none;
    //  }
    &::placeholder{
        color: $border-color-grey;
        font-weight: 600;
        font-size: 16px;
    }
}
.modal__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid $border-color-grey;
    button{
        margin: 0 5px;
        border: 0px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        &:focus{
            outline: none;
        }
    }
    .share__btn{
        color: $link-color;
    }

}
.preview__wrapper{
  
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:center;
    figure{
        width: 350px;
        display: block;
        height: 300px;
        object-fit: contain;
        object-position: center;
        margin: 3px 0px;
    }
    .preview{
        width: 350px;
        display: block;
        height: 300px;
        object-fit: contain;
        object-position: center;
        margin: 3px 0px;
       
        
    }
}
@media screen and (max-width: 600px){
    .modal{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: unset;
        background-color: $background-grey;
    }
    .caption__box{
        width: 100%;
    }
}