@import '../../Sass/variables';

.homeScreen{
  width: 100%;
  height: 100vh;
  position: relative;
  padding-bottom: 2.5rem;
  background-color: $background-grey;
  overflow-y: auto;
 

  main {
    height: 100vh;
    margin-top: 60px;
    
    .container {
      display: flex;
      justify-content: left;
      margin: 0 auto;
      max-width: 1000px;
      height: 100%;
      
      
    }
    .mobile__suggestionCard{
      display: flex;
      margin-top: 10vh;
     width: 100vw;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 0px 10px;
      @media screen and (min-width: 640px){
        display: none;
      }
    }
  }
}


a {
  text-decoration: none;
  color: $link-color;
  font-size: 0.9em;
  font-weight: 500;
}

@media only screen and (max-width: 960px) {
  .homeScreen{
    main .container {
      justify-content: center !important;
    }

  }
}