@import '../../Sass/variables';

.login-screen{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background: $background-grey ;
 
    p{
        font-size: larger;
        font-weight: 600;
        text-align: center;
    }
}


@media screen  and (max-width: 640px){
.svg{
    display: none;
}
.login-screen{
    justify-content: center;
}
}