@import '../../Sass/variables';
.settings__page{
    height: 100vh;
    width: 100%;
     padding: 4rem 0;
    
              &__content{
                  padding: 4rem 5rem;
              }
    .settings__page__forms__wrapper{
            height: 100%;
            grid-column: center-start / center-end;
            display: grid;
            grid-template-columns: 15rem 1fr;
                .navlink__sidebar{
                    list-style-type: none;
                    border-right: 1px solid #dbdbdb;
            
                }
                @media screen and (max-width: 600px){
    
                    grid-column: full-start / full-end;
                    grid-template-columns: 1fr;
    
                    .navlink__sidebar{
                        display: none;
                    }
                }

                .sidebar__link{
                    text-decoration: none;
                    // font-size: 1.2rem;
                    color: $font-color-primary;
                    display: block;
                    border-left: 3px solid transparent;

                    &__text{
                        padding: 1.5rem 2.5rem;
                    }

                    &:hover{
                        background-color: $background-grey;
                        border-color: $border-color-grey;
                    }
                    &--active{
                        border-left: 3px solid  $font-color-primary;

                        &:hover {
                            background-color: $background-white;
                            border-color: $font-color-primary;
                          }
                    }
                }
            }

            @media screen and (max-width: 600px){
                min-height: 100%;
                &__content{
                    padding: 2rem;
                }
            }

}